---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import LeaderboardContents from "../../components/LeaderboardContents";
import { levels } from "../../constants";
import Card from "../../components/Card";

const { slug } = Astro.params;
const { name, borderStyle } = Astro.props;

export const getStaticPaths = (() => {
    return levels.map(({ slug, name, borderStyle }) => ({
        params: { slug: slug },
        props: { name, borderStyle },
    }));
}) satisfies GetStaticPaths;
---

<Layout title={`${name} Leaderboard`}>
    <Navbar />
    <main>
        <div class="text-center">
            <h1 class="m-8 text-3xl font-extrabold">
                {name} Leaderboard
            </h1>
            <div class="m-4">
                <div class="max-w-lg mx-auto">
                    <LeaderboardContents
                        slug={slug}
                        borderStyle={borderStyle}
                    />
                </div>
            </div>
        </div>
    </main>
</Layout>
