---
const isLoggedIn = true; //determine
---

<nav
    class="bg-black bg-opacity-50 backdrop-blur p-5 flex justify-between items-center"
>
    <div class="text-white font-bold ml-4 md:ml-8 lg:ml-16">
        <a href="/">Placeholder name</a>
    </div>
    <ul class="flex space-x-4 md:space-x-6 lg:space-x-8 mr-4 md:mr-8 lg:mr-16">
        <li>
            <a href="/leaderboard" class="text-white hover:text-gray-400">
                Leaderboard
            </a>
        </li>
        <li>
            <a href="/profile" class="text-white hover:text-gray-400">
                Profile
            </a>
        </li>
        <li>
            <a
                href="/idk"
                class="text-white border border-white rounded-full px-4 py-2 hover:bg-white hover:text-black transition"
            >
                Login
            </a>
        </li>
    </ul>
</nav>
