---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.jsx";
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main class="bg-white scroll-smooth">
		<section
			class="hero bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white text-center flex flex-col justify-center items-center h-screen"
		>
			<h1 class="text-6xl font-bold mb-4">
				Welcome to <span class="font-mono">PlaceholderName</span>
			</h1>
			<p class="text-xl mb-8">Boo</p>
			<a
				href="#features"
				class="bg-white text-purple-700 font-semibold py-2 px-4 rounded border-2 border-purple-700 hover:bg-purple-700 hover:text-white"
				>Get Started</a
			>
		</section>
		<section id="features" class="py-16">
			<div class="container mx-auto px-4">
				<h2 class="text-4xl font-bold text-center mb-12">
					Our Features
				</h2>
				<div class="flex flex-row space-x-12">
					<div
						class="flex-1 hover:rotate-1 hover:scale-105 transition hover:brightness-105"
					>
						<Card>
							<div class="m-4 flex flex-col">
								<div class="flex justify-center">Feature 1</div>
								<div class="mt-4 flex justify-center">
									Feature Description
								</div>
							</div>
						</Card>
					</div>
					<div
						class="flex-1 hover:rotate-1 hover:scale-105 transition hover:brightness-105"
					>
						<Card>
							<div class="m-4 flex flex-col">
								<div class="flex justify-center">Feature 2</div>
								<div class="mt-4 flex justify-center">
									Feature Description
								</div>
							</div>
						</Card>
					</div>
					<div
						class="flex-1 hover:rotate-1 hover:scale-105 transition hover:brightness-105"
					>
						<Card>
							<div class="m-4 flex flex-col">
								<div class="flex justify-center">Feature 3</div>
								<div class="mt-4 flex justify-center">
									Feature Description
								</div>
							</div>
						</Card>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
