---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card";
import { levels } from "../constants";
// Flexibly map the options for leaderboards to a list of options.
---

<Layout title="Leaderboard">
    <main>
        <Navbar />
        <div class="">
            <h1 class="m-4 text-5xl font-extrabold mb-8 text-center">
                Leaderboards
            </h1>
            <div class="flex flex-col m-4 space-y-8">
                {
                    levels.map(({ name, slug, borderStyle }) => (
                        <div class="mx-auto w-full max-w-md hover:even:rotate-1 hover:odd:-rotate-1 hover:scale-105 transition hover:brightness-105">
                            <a href={`/leaderboard/${slug}`}>
                                <Card borderStyle={borderStyle}>
                                    <div class="m-4 text-3xl font-extrabold text-center">
                                        {name}
                                    </div>
                                </Card>
                            </a>
                        </div>
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
