---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.jsx";

const profilePictureSrc =
    "https://avatars.githubusercontent.com/u/50809215?v=4";
const username = "Who?";
const description = "Avid Clicker";
---

<style>
    body {
        overflow: hidden;
    }
</style>

<Layout title="Profile">
    <Navbar />
    <main class="p-1">
        <div class="flex flex-col m-4 space-y-4">
            <div class="flex flex-row space-x-4">
                <div class="flex-1">
                    <Card>
                        <div class="m-4 flex flex-col">
                            <div class="flex justify-center">
                                <img
                                    src={profilePictureSrc}
                                    alt="Profile Picture"
                                    class="rounded-full h-32 w-32"
                                />
                            </div>
                            <div class="mt-4">
                                <h1 class="text-2xl font-bold">{username}</h1>
                                <p class="text-gray-500">{description}</p>
                            </div>
                        </div>
                    </Card>
                </div>
                <div class="flex-1">
                    <Card>
                        <div class="m-4 flex flex-col"></div>
                    </Card>
                </div>
            </div>
        </div>
    </main>
</Layout>
